{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: none;
}

body {
    font-size: 16px;
    font-family: 'Metamorphous', cursive;
    font-weight: 300;
}

h1 {
    color: paleturquoise;
}
